@model IEnumerable<Nikko.SistGestionPedido.UI.Models.ViewModels.ProductoViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h4>PRODUCTOS</h4>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model=>model.productoId)
                </th>
                <th>
                    @Html.DisplayNameFor(model=>model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model=>model.Codigo)
                </th>

                <th>
                    @Html.DisplayNameFor(model=>model.Precio)
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem=>item.productoId)</td>
                    <td>@Html.DisplayFor(modelItem=>item.Nombre)</td>
                    <td>@Html.DisplayFor(modelItem=>item.Codigo)</td>
                    <td>@Html.DisplayFor(modelItem=>item.Precio)</td>
                </tr>

            }
        </tbody>
    </table>
</body>
</html>
